
.Introduction {
  display: block;
  margin: 3cm;
  border: 15px solid lightblue;
  text-align: center;
  padding: 2cm;
}

.Features {
  display: block;
  margin: 3cm;
  border: 15px solid lightblue;
  text-align: center;
  padding: 2cm;
}





